.header {
	background: rgb(92,152,138);
    background: linear-gradient(47deg, rgba(92,152,138,1) 15%, rgba(207,115,48,1) 98%);

    &__container--logo {
        background: rgb(92,152,138);
        background: linear-gradient(47deg, rgba(92,152,138,1) 15%, rgba(207,115,48,1) 98%);
        color: white;
        padding: 1em;
        font-size: .5em;
        display: flex;
        position: fixed;
        z-index: 1000000;
        top: 0;
        left: 0;
        right: 0;
        
    
    }
}



.header__nav {
    position: fixed;
    
    background: rgba( 0,0,0, .8);
    top: 0;
    bottom: 0;
    left: -100vw;
    width: 100%;
    transition: 0.7s;
    z-index: 2;
    &__list{
        list-style: none;
        padding: 0;
        width: 80%;
        margin: 6em auto;
        background: #FFF;
    }
        &__link {
            display: block;
            padding: .75em 1em;
            border-bottom: 1px solid #AAA;
            color: #CFAD87;
            text-decoration: none;
        }
                &__link {
                display: block;
                padding: .75em 1em;
                border-bottom: 1px solid #AAA;
                color: #CFAD87;
                text-decoration: none;
            }
                &__link:link {
                    text-decoration: none;
                }
                
            }





